@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply w-[255px] h-[48px] bg-purple rounded-3xl text-sm dark:opacity-80 text-white font-medium hover:bg-purple-hover transition-all duration-200;
  }
  .btn-primary-s {
    @apply w-[255px] h-[40px] text-sm bg-purple rounded-[20px] text-white font-medium hover:bg-purple-hover transition-all duration-200;
  }
  .btn-secondary {
    @apply w-[255px] h-[40px] bg-light-gray dark:bg-white text-sm dark:hover:bg-white rounded-[20px] text-purple font-medium transition-all duration-200 hover:bg-lines;
  }
  .btn-destructive {
    @apply w-[255px] h-[40px] bg-red rounded-[20px] text-white font-medium transition-all duration-200 hover:bg-red-hover;
  }
  .input {
    @apply w-[350px] h-10 rounded-[4px] border border-solid border-[#828FA340] bg-transparent px-5 text-sm outline-none invalid:bg-red placeholder:text-medium-gray;
  }
}
